* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-primario: #0a1128;
    --color-secundario: #043056;
    --color-trciaria: #3180b6;
    --color-texto: #ffffff;
    --color-fundo: #b5c0d0;
    --color-boton: #083766;
    --color-boton-hover: #1C86EE;
    --color-error: #FF0000;
} 
body{
    background-color: #000000;

}
header{
    position: relative;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    padding: 20px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav > a{
    text-decoration: none;
    color: var(--color-texto);
}
.container{
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(to bottom, var(--color-secundario), var(--color-trciaria));
    color: var(--color-texto);
    font-family: Helvetica, sans-serif;
}
main{
    padding: 20px;
    background-color: var(--color-trciaria);
}