:root{
    --color-primario: #0a1128;
    --color-secundario: #182b70;
    --color-trciaria: #cfdaeb;
    --color-texto: #ffffff;
    --color-fundo: #b5c0d0;
    --color-boton: #083766;
    --color-boton-hover: #1C86EE;
    --color-error: #FF0000;
} 
*{

}
/* ÁREA do body */
body{
    position: relative;
    background-image: url("../img/fundo1.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 98vw;
    height: 97.5vh;
    z-index: -1;
}
/* ÁREA do formulário */
.login-container{
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color:#17425b86;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}
/* ÁREA da imagem */
.login-container > img{
    display: block;
    margin: auto;
    width: 150px;
    margin-bottom: 20px;
}
/* ÁREA dos campos de entrada */
input[type="email"], input[type="password"], input[type="date"]{
    justify-content: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-fundo);
    color: var(--color-primario);
    outline-color: var(--color-boton-hover);
}
input[type="text"], input[type="tel"], input[type="number"]{
    justify-content: center;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 250px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-fundo);
    color: var(--color-primario);
    outline-color: var(--color-boton-hover);
}
/* ÁREA das labels */
.input-container{
    position: relative;
}
.input-container label{
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    color: var(--color-primario);
    pointer-events: none;
    transition: all 0.3s ease;
}
input:focus + label,
input:not(:placeholder-shown) + label{
    transform: translateY(-150%);
    top: 53%;
    left: 20%;
    font-size: 12px;
    color: var(--color-boton);
}
/* ÁREA do botão */
.login-container > form > button{
    display: block;
    margin: auto; 
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-boton);
    color: var(--color-texto);
    cursor: pointer;
}
.login-container > form > button:hover{
    background-color: var(--color-boton-hover);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

.login-container > a{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: var(--color-texto);
    text-decoration: none;
}
.login-container >a> button{
    position: relative;
    overflow: hidden;
    margin:auto;
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-boton);
    color: var(--color-texto);
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.login-container >a> button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: green;
    transition: width 0.3s ease;
    z-index:-1;
}   
.login-container > a> button:hover::before{
    width: 100%;
}
.login-container >a> button:hover{
    background-color: var(--color-boton-hover);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

    